@charset "UTF-8";

/*
    em HTML id = # (one only element)
    em HTML class = . (Varios elements)
*/

body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #1e402f;
}

h1#main{
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2{
    color: #3c805e;
}

.basico{
    color: #29b66f;
}

.spanish{
    background-color: blueviolet;
    color: white;
}

.medio{
    color: #bbab20;
}

.avancado{
    color: #b80f0f;
}

.destaque{
    background-color: #c5c56070;
}